@use 'sass:color';

$accent: #fcbd60;
$accent-light: #fdd371;
$accent-dark: #ef8257;
$accent-darker: #d96c69;
$error: #d63638;

$bg-color: #596ddd;

// Background and default styling
.login {
  background: linear-gradient(135deg, #6a91ec 0, #8b8ada 25%, #596ddd 75%, #5c7fdd 100%);
  color: #fff;

  #login_error, .message {
    color: rgba(#fff, .95);
    background-color: rgba($accent, .25);
    border: 1px solid rgba($accent, .5);
    border-left: 4px solid $accent;

    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid #fff;

      &:hover, &:focus {
        border-bottom-color: color.adjust($accent, $lightness: 10%);
      }
    }
  }

  #login_error {
    color: rgba(#fff, .95);
    background-color: rgba($error, .25);
    border: 1px solid rgba($error, .5);
    border-left: 4px solid $error;
  }

  #nav a, #backtoblog a, .privacy-policy-link {
    color: inherit;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: .2s ease all;

    &:hover, &:focus {
      color: inherit;
      border-bottom-color: color.adjust(#6a91ec, $lightness: 20%);
    }
  }
}

// Logo
#login h1 a, .login h1 a {
  display: block;
  width: 100%;
  height: 95px;
  background: url('../img/default/io-logo-white.svg') no-repeat center center;
  background-size: contain;
  margin: 0 0 2rem;
}

// Form
.login form {
  color: rgba(#fff, .95);
  background-color: rgba(#fff, .25);
  border: 1px solid rgba(#fff, .5);
  box-shadow: none;
}

// Core UI
.wp-core-ui .button-primary {
  background-color: $accent-dark;
  border-color: color.adjust($accent-dark, $lightness: -5%);
  transition: .2s ease all;

  &:hover, &:focus {
    background-color: $accent-darker;
    border-color: color.adjust($accent-dark, $lightness: -5%);
  }
}

// Language Switcher
.language-switcher input[type='submit'] {
  color: rgba(#fff, .95);
  background-color: rgba(#fff, .25);
  border-color: rgba(#fff, .5);
  transition: .2s ease all;

  &:hover, &:focus {
    color: #fff;
    background-color: $accent-darker;
    border-color: color.adjust($accent-dark, $lightness: -5%);
  }
}
