.c-breadcrumb {
  font-size: 12px;

  svg {
    color: $primary;
    width: 7px;
    height: 7px;
  }

  a {
    position: relative;
    color: $secondary;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    opacity: .6;

    &:hover {
      text-decoration: none;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.breadcrumb_last {
  color: $secondary;
  margin-left: 10px;
  opacity: .6;
}
